<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Enviar Arquivo</title>
      <link rel="stylesheet" href="styles/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
   </head>
   <body>
      <!-- <form action="/api/upload/" method="post" enctype="multipart/form-data">
         <input type="file" name="imagem">
         <input type="submit" value="Enviar">
         </form>  -->
      <headers class="header">
         <div class="meio">
            <div class="home">
               <h1>
                  <span class="material-symbols-outlined" style="
                     margin-top: 3px;
                     background-color: #857dcc;
                     border-radius: 10px;
                     display: flex;
                     gap: 5px;
                     /* height: 0px; */
                     padding: 5px;
                     font-size: 18px;">
                     database 
                     <p>StorageDS</p>
                  </span>
               </h1>
            </div>
            <ul class="botoes">
               <li><span style="margin-top: 14px;display: flex;gap: 5px;font-size: 17px;" class="material-symbols-outlined">upload_file<a href="/">Upload</a></span></li>
               <li><span style="margin-top: 14px;display: flex;gap: 5px;font-size: 17px;" class="material-symbols-outlined">lab_profile<a target="_blank" href="https://github.com/xDaswx/custom-file-storage">Github</a></span></li>
            </ul>
         </div>
      </headers>
      <main class="container">
         <h1 id="site-title">Free temporary file hosting for everyone!</h1>
         <div id="preview-container">
            <div class="content">
            </div>
            <div class="content-info">
               <h1>Your file information:</h1>
            </div>
         </div>
         <div class="api-response">
            <h3 style="font-weight: 200;font-size: 15px;">Upload your file!</h3>
            <div class="progress" style="display: block;">
               <div class="progress-bar" style="width:0%;">0%</div>
            </div>
            <div class="response-url" style="display:none">
               <input type="text" id="inputText" readonly="" style="
                  display: none;
                  width: 100%;
                  background: #181818;
                  color: white;
                  border: 0;
                  margin-top: 15px;
                  height: 30px;
                  text-align: center;">
               <div id="copyButton" class="button" style="margin-top: 14px">
                  <p>Copy url</p>
               </div>
            </div>
                   <div id="buttons" style="display: flex;gap: 21px;justify-content: center;margin-top: 25px;">
            <div class="button" style="background: #992525;">
               <p><a href="/">Return</a></p>
            </div>
            <label for="enviar-paraservidor">
               <div class="button">
                  <p>Upload</p>
               </div>
            </label>
         </div>

         </div>
         <form class="form-upload" action="/api/upload/" method="post" enctype="multipart/form-data">
            <input id="file-enviar" type="file" name="imagem" onchange="showPreview()">
            <input id="enviar-paraservidor" onclick="sendImages()" value="Enviar">
            <label for="file-enviar" id="file-drag-label">
               <div class="upload">
                  <div class="icon" style="    text-align: center;">
                     <span style="font-size: 100px;" class="material-symbols-outlined">upload_file</span>
                  </div>
                  <p>Drag and drop choose file to upload your files.<br>Png, Jpg/Jpeg, Mp4 types are supported</p>
               </div>
            </label>
         </form>
         <div>
         </div>
      </main>
      <script src="script.js"></script>
   </body>
</html>